/*.color-primary-0 { color: #798EAD }
.color-primary-1 { color: #D8E0EA }
.color-primary-2 { color: #AAB9CF }
.color-primary-3 { color: #526C92 }
.color-primary-4 { color: #2F4B74 }
font-family: 'Indie Flower', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Poiret One', cursive;
*/

.generalbackground{background: #D8E0EA}

.article1,
.article2,
.article3{display: grid;}

p{
  font-family: 'Rajdhani', sans-serif;
}

nav ul {
  background: #798EAD99;
  padding: 10px;
  margin:0px;
  display: grid;
  font-family:'Poiret One', cursive;
  border: 3px dotted white;
}

nav a{
  text-decoration: none;
  color: #FDEEF3;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover{
  color:#C5D0E7;
  font-size: 20px;
  background: #1D2C50;
}

header{
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
  color:#1D2C50;
}

h2{
  color:#47557A;
  font-family: 'Anton', sans-serif;
  font-weight: 100;
  text-decoration: underline;
}

img{max-width: 100%}

footer{
  text-align: right;
  color: #C5D0E7;
  text-shadow: 1px 1px 1px #FFFFFF;
}
